[general]
episodes = 200
eval_every = 99999
eval_K = 0
num_parallel_envs = 10
save_every = 99999

[env]
num_qubits = 10
num_layers = 50
err_mitig = 0
rand_halt = 1

n_shots = 0
noise_models = 0
noise_values = 0

fake_min_energy = -15.76512418
fn_type = incremental_with_fixed_ends
accept_err = 0.0016
shift_threshold_time = 200
shift_threshold_ball = 1e-3
success_thresh = 10
succ_radius_shift = 10
succes_switch = 0.5
thresholds = []
switch_episodes = []
curriculum_type = FixedThreshold

[problem]
ham_type = L6_BeH2_6311G
geometry = Be .0 .0 0.0; H .0 .0 1.326; H .0 .0 -1.326
mapping = jordan_wigner
mol_file = L6_BeH2_6311G_10q_geom_Be_.0_.0_0.0;_H_.0_.0_1.326;_H_.0_.0_-1.326_jordan_wigner.npz

[agent]
batch_size = 1000
memory_size = 20000
neurons = [5000,5000,5000,5000,5000]
dropout = 0.
learning_rate = 0.0001
angles = 0
en_state = 1
agent_type = DeepQNstep
agent_class = DQN_Nstep
n_step = 6
init_net = 0

update_target_net = 500
final_gamma = 0.005
epsilon_decay = 0.99995
epsilon_min = 0.05
epsilon_restart = 1.0

[non_local_opt]
global_iters = 100
method = scipy_each_step
optim_alg = COBYLA
global_batched_cobyla = 1
# K=10 envs each run scipy_optim_gpu sequentially (no cross-env batching)
